<section>
    <h2 id="about-me">Sobre mí...</h2>
    <hr class="bar"/><div class="about-lock">
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
            <div class="back">
                <div class="face1-img"></div>
            </div>
        </div>
    </div>
            <div class="glyph-icon flaticon-cogwheel28"></div>
            <div class="glyph-icon flaticon-computer1"></div>
            <div class="glyph-icon flaticon-hosting"></div>
            <div class="glyph-icon flaticon-computers13"></div>
        </div><div class="blurb"><p>Mi nombre es Domingo N. Rodríguez Darias, soy un joven programador de Tenerife, Islas Canarias, España. Me apasiona la tecnología y la informática en general, me gusta afrontar nuevos retos y aportar ideas a proyectos. </p></div><div class="skill-lock"></div></section>