<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
        <hr class="bar"/>
            <div class="social-links">
                <a href="www.linkedin.com/in/domingo-rodriguez-darias"><div class="glyph-icon flaticon-linkedin"></div></a>
                <a href="https://github.com/drodrigueztf"><div class="glyph-icon flaticon-github"></div></a>
            </div><hr class="bar"/><a href="mailto:drodriguez92.tf@gmail.com" class="biglink">drodriguez92.tf@gmail.com</a></section>