<section><h2 id="Contact">Contacta conmigo</h2>
    <hr class="bar"/><form method="post" action="//formspree.io/drodriguez92.tf@gmail.com">
        <div class="contact-info-group"><label>
            <span>Nombre:</span><input type="text" name="name"/></label>
            <label><span>Correo:</span><input type="email" name="_replyto"/></label>
        </div>
        <label><span>Message</span><textarea name="Message"></textarea>
            <div class="submit-wrap"><input type="submit" value="Enviar"/></div></label></form></section>